html {
  background: black;
}
body {
    padding: 20px;
    color: rgb(230,230,230);
    font-family: 'Convergence', sans-serif;
}
#results {
  width: 90%;
  margin: auto;
  clear: both;
  margin-top: 100px;
}

.cover {
    width: calc(100% / 3);
    padding-top: calc(33.3333333333% - 5px);
    display: block;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px 0 inset transparent;
    /*border: 5px solid transparent;*/
    box-sizing: border-box;
    position: relative;
}

.song-action {
  position: absolute;
  border: 0;
  width: 70px;
  height: 70px;
  background: rgba(0,0,0,0.4) url("i/pause.svg") center no-repeat;
  background-size: 60px;
  display: block;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  margin: auto;
  transform: translate(0, 0);
  transition: opacity 0.5s, transform 0.5s;
}

.cover.playing .song-action.pause, .cover.playing .song-action.play {
  transform: translate(-40px, 0);
}

.song-action.stop {
  background-image: url("i/stop.svg");
  z-index: 1;
}
.cover.playing .song-action.stop {
  transform: translate(40px, 0);
}
.song-action.play {
  background-image: url("i/play.svg");
}

.cover:hover .song-action.play {
  opacity: 1;
}

.cover.unavailable {
  opacity: 0.35;
}

.cover.unavailable:hover {
  cursor: default;
}

.cover.unavailable:hover .song-action {
  display: none;
  opacity: 0;
}

.song-action.pause {
}

.cover:hover {
    cursor: pointer;
}
.cover.playing {
  box-shadow: inset 0 0 0 5px #2ecc71;
}

.cover.playing .song-action {
  display: block;
  opacity: 1
}
.cover.paused {
  box-shadow: inset 0 0 0 5px #f1c40f;
}

.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

/* FORM ELEMENTS */
.single-field-form {
  width: 90%;
  margin: auto;
  position: relative;
}

.single-field-form input {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: calc(100% - 180px);
  border: 0;
  font-size: 21px;
  line-height: 60px;
  padding: 0 160px 0 20px;
  border-radius: 4px;
  font-family: 'Convergence', sans-serif;
}
.single-field-form input[type="submit"] {
  left: auto;
  right: 0;
  width: auto;
  padding: 0 20px;
  border-radius: 0 4px 4px 0;
  color: white;
  background: #2ecc71;

}

@media screen and (max-width: 1024px) {
  .cover { width: 50%; }
}

@media screen and (max-width: 600px) {
  .cover { width: 100%; }
}
